proxy=socks5://127.0.0.1:10808
https-proxy=socks5://127.0.0.1:10808
registry=https://registry.npmjs.org/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{ version }}
electron_cache=./.electron-cache